.logo img{
    
   width:120px;
   height:120px;
    
}

.social-icons {
    float: left;
    margin-left: 15px;
}
#header {
min-height: 60px;
margin-top: 45px;
}

.flexslider .slides img {
height: 370px;
width: 100%;
}


#navigation ul li a.active {
background: #FFF;
color: red;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
-ms-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}

body {
    
    background: url(../image/bg/grass.jpg);

}
#footer{
    
    background: url(../image/bg/grass.jpg);
}

#footer, #footer p, #footer a {
color: #fff;
}

.footer-headline h4 {
    border-bottom: 0px solid #fff;

}